<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IDocumentDistributorInvoice" />
            <binding name="BasicHttpBinding_IDistributorsOutlets" />
            <binding name="BasicHttpBinding_IDistributorsMaterialArticul" />
            <binding name="BasicHttpBinding_IDistributorsDebtors" />
            <binding name="BasicHttpBinding_IDistributorsMaterialArticul1" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://svc-money-rus:8000/MegaDAL_Money_V3/DocumentDistributorInvoice"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentDistributorInvoice"
            contract="DocumentDistributorInvoice.IDocumentDistributorInvoice"
            name="BasicHttpBinding_IDocumentDistributorInvoice" />
        <endpoint address="http://svc-money-rus:8000/MegaDAL_Money_V3/DistributorsOutlets"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributorsOutlets"
            contract="DistributorsOutlets.IDistributorsOutlets" name="BasicHttpBinding_IDistributorsOutlets" />
        <endpoint address="http://svc-money-rus:8000/MegaDAL_Money_V3/DistributorsMaterialArticul"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributorsMaterialArticul"
            contract="DistributorsMaterialArticul.IDistributorsMaterialArticul"
            name="BasicHttpBinding_IDistributorsMaterialArticul" />
        <endpoint address="http://svc-money-rus:8000/MegaDAL_Money_V3/DistributorsDebtors"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributorsDebtors"
            contract="DistributorsDebtors.IDistributorsDebtors" name="BasicHttpBinding_IDistributorsDebtors" />
        <endpoint address="http://megawinsvc-money-v3-dst.khortitsa.com:8000/MegaDAL_Money_V3/DistributorsMaterialArticul"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistributorsMaterialArticul1"
            contract="OldDistributorsMaterialArticul.IDistributorsMaterialArticul"
            name="BasicHttpBinding_IDistributorsMaterialArticul1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="CRMEntities" connectionString="metadata=res://*/Model.Database.DbCRM.csdl|res://*/Model.Database.DbCRM.ssdl|res://*/Model.Database.DbCRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CRM-MSK;initial catalog=CRM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>